/**淡入淡出**/
.shn-fade-enter-active,
.shn-fade-leave-active {
    transition: opacity 0.3s;
}

.shn-fade-enter,
.shn-fade-leave-to {
    opacity: 0;
}


/**缩放淡入淡出**/
.shn-modal-fade-enter-active {
    transform-origin: 50% 200px;
    animation: shn-modal-fade .3s;
}

.shn-modal-fade-leave-active {
    transform-origin: 50% 200px;
    animation: shn-modal-fade .3s reverse;
}

@keyframes shn-modal-fade {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/**下拉菜单**/
.drop-down-enter-active,
.drop-down-leave-active {
    opacity: 1;
    transform: scaleY(1);
    transition: $--md-fade-transition;
    transform-origin: center top;
}

.drop-down-enter,
.drop-down-leave-active {
    opacity: 0;
    transform: scaleY(0);
}