/*滚动条样式*/
div::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 5px !important;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 5px !important;
}

div::-webkit-scrollbar-thumb {
    /* 滚动条里面小方块 */
    background: #eee !important;
}

div::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    background: #fff !important;
}

/*滚动条样式*/
html::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 7px !important;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 7px !important;
}

html::-webkit-scrollbar-thumb {
    /* 滚动条里面小方块 */
    background: #b6b6b6 !important;
}

html::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    background: #fff !important;
}

.content-box {
    padding-top: 50px;

    .demo-title {
        font-size: 24px;
        font-weight: 400;
        color: #1f2f3d;
    }

    .demo-introduction {
        font-size: 14px;
        color: #5e6d82;
        margin: 10px 0;
    }

    .demo-waring {
        padding: 8px 16px;
        background-color: #fff6f7;
        border-radius: 4px;
        border-left: 5px solid #fe6c6f;
        margin: 20px 0;

        p {
            font-size: 14px;
            color: #5e6d82;
            margin: 10px 0;
        }

        code {
            margin: 0 5px;
            padding: 0 4px;
            border: 1px solid #eaeefb;
            border-radius: 4px;
            background-color: hsla(0, 0%, 100%, .7);
            color: #445368;
        }
    }

    .demo-table-title {
        margin: 55px 0 20px;
        font-weight: 400;
        color: #1f2f3d;
    }

    .demo-table-introduction {
        font-size: 14px;
        color: #5e6d82;
        margin: 10px 0 20px;
    }
}

.hljs {
    padding: 18px 24px 0 !important;
    line-height: 1.8;
    font-size: 12px;
    font-family: Menlo, Monaco, Consolas, Courier, monospace;
}