/**淡入淡出**/
.shn-fade-enter-active,
.shn-fade-leave-active {
    transition: opacity 0.3s;
}

.shn-fade-enter,
.shn-fade-leave-to {
    opacity: 0;
}


/**缩放淡入淡出**/
.shn-modal-fade-enter-active {
    transform-origin: 50% 200px;
    animation: shn-modal-fade .3s;
}

.shn-modal-fade-leave-active {
    transform-origin: 50% 200px;
    animation: shn-modal-fade .3s reverse;
}

@keyframes shn-modal-fade {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/**下拉菜单**/
.drop-down-enter-active {
    animation: dropdown 0.1s;
}

.drop-down-leave-active {
    animation: dropdown 0.1s reverse; //reverse表示和隐藏到显示动画相反
}

@keyframes dropdown {
    0% {
        transform-origin: 100% 0;
        transform: scale(1, 0);
        opacity: 0;
    }

    100% {
        transform-origin: 100% 0;
        transform: scale(1, 1);
        opacity: 1;
    }
}