.iconfont {
    font-size: 14px;
}

.inline-block {
    display: inline-block;
}

.padding-top25 {
    padding-top: 25px;
}

.border-top{
    border-top:1px solid #f0f2f5;
}

.border-bottom{
    border-bottom:1px solid #f0f2f5;
}

.border-left{
    border-left:1px solid #f0f2f5;
}

.border-right{
    border-right:1px solid #f0f2f5;
}